<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" th:href="@{/img/logo.png}">

    <title>Lista de Conteudos</title>

    <!--CSS-->
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-5.15.3/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/estilo.css}">

</head>
<body>

    <!--NAV-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/conteudo/conteudoList}">Conteudo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/usuario/usuarioList}">Usuario</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <center>
        <div class="row">

            <div class="col">
                <div th:each="conteudo : ${conteudos}" class="card" style="width: 25rem;">
                    <!--<img th:src="@{/galeria/galeria/mostrarImagem{imagem} (imagem=${obra.nomeImagem})}" class="card-img-top" alt="...">-->
                    <div class="card-body">
                        <h5 th:text="${conteudo.nome}" class="card-title">Nome do Conteudo</h5>
                        <p th:text="${conteudo.descricao}" class="card-text">descrição</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <!-- NOME DO USUARIO AAA <li th:text="${obra.nomeArtista}" class="list-group-item">NOME DO ARTISTA</li>-->
                        <!--<li th:text="${obra.tipo}" class="list-group-item">tipo de obra</li>-->
                        <li th:text="${#dates.format(conteudo.data, 'dd/MM/yyyy')}" class="list-group-item">data do conteudo</li>
                    </ul>
                    <ul>
                        <td class="td-controle">
                            <a th:href="@{'/conteudo/conteudoEdit/'+${conteudo.id}}" class="btn btn-outline-dark">
                                <i class="far fa-edit"></i>
                            </a>
                        </td>
                        <td class="td-controle">
                            <a th:onclick="|showModalDeletar('conteudo', ${conteudo.id})|" class="btn btn-outline-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </ul>
                </div>
            </div>

        </div>
    </center>

    <!--MODAL DELETAR-->
    <div class="modal" tabindex="-1" id="modalDeletar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-color">
                    <h5 class="modal-title">Aviso !</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Você deseja deletar este conteudo?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-outline-danger" th:onclick="deletar()">Deletar</button>
                </div>
            </div>
        </div>
    </div>



    <!--JS-->
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <!--<script th:src="@{/js/popper.min.js}"></script>-->
    <script th:src="@{/bootstrap-5.0.0/js/bootstrap.min.js}"></script>


</body>
</html>